Print characters present at an even index number

In [2]:
def even_index_chars(text):
    return text[::2]

# Example
print(even_index_chars("pynative"))

pntv

Check if first and last numbers of a list are the same

In [5]:
def is_first_last_same(numbers):
    if len(numbers) == 0:
        return False
    return numbers[0] == numbers[-1]

#Example
print(is_first_last_same([10, 20, 30, 10]))
print(is_first_last_same([10, 20, 30, 40]))

True
False

Merge two lists (odd from first, even from second)

In [6]:
def merge_lists(list1, list2):
    result = []

    for num in list1:
        if num % 2 != 0:
            result.append(num)

    for num in list2:
        if num % 2 == 0:
            result.append(num)

    return result

#Example
print(merge_lists([10, 20, 25, 30, 35], [40, 45, 60, 75, 90]))

[25, 35, 40, 60, 90]

Accept a list of 5 float numbers as input

In [7]:
def get_float_list():
    floats = []
    for i in range(5):
        num = float(input(f"Enter float number {i+1}: "))
        floats.append(num)
    return floats

# Example (run manually)
numbers = get_float_list()
print(numbers)

[14.2, 14.2, 14.25, 45.0, 654.0]

Display numbers from a list using a loop

In [8]:
def display_numbers(numbers):
    for num in numbers:
        print(num)

# Example
display_numbers([1, 2, 3, 4, 5])

1
2
3
4
5

Print Full Multiplication Table

In [9]:
def multiplication_table():
    for i in range(1, 11):
        for j in range(1, 11):
            print(i * j, end="\t")
        print()

# Example
multiplication_table()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Create string from first, middle and last character

In [10]:
def first_middle_last(text):
    first = text[0]
    middle = text[len(text)//2]
    last = text[-1]
    return first + middle + last


# Example
print(first_middle_last("pynative"))

pte

Remove duplicates from list

In [11]:
def remove_duplicates(items):
    return list(set(items))

# Example
print(remove_duplicates([1, 2, 3, 2, 4, 1, 5]))

[1, 2, 3, 4, 5]

In [12]:
def remove_duplicates_ordered(items):
    unique = []
    for item in items:
        if item not in unique:
            unique.append(item)
    return unique

Delete a list of keys from a dictionary

In [14]:
def delete_keys(dictionary, keys):
    for key in keys:
        dictionary.pop(key, None)
    return dictionary

# Example
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}
print(delete_keys(sample_dict, ["name", "salary"]))

{'age': 25, 'city': 'New York'}

Rename key of a dictionary

In [15]:
def rename_key(dictionary, old_key, new_key):
    if old_key in dictionary:
        dictionary[new_key] = dictionary.pop(old_key)
    return dictionary

# Example
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000}
print(rename_key(sample_dict, "salary", "income"))

{'name': 'Kelly', 'age': 25, 'income': 8000}